<!DOCTYPE html>
<html ng-app="elfide">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="1802.js"></script>
    <script src="index.js"></script>
    <title>Elfide</title>
  </head>
  <body>
    <div class="elfide-editor" ng-controller="EditorCtrl">

      <div class="elfide-line-no">
        <span class="elfide-header">no</span>
        <span ng-repeat="line in lines">{{ lines.indexOf(line) + 1 }}</span>
      </div>

      <div class="elfide-address">
        <span class="elfide-header">address</span>
        <span ng-repeat="line in lines">{{ line.memoryAddress | hexify:2 | uppercase }}</span>
      </div>

      <div class="elfide-value">
        <span class="elfide-header">value</span>
        <span ng-repeat="line in lines">
          {{ line.memoryValue + line.referenceAddress | uppercase }}
        </span>
      </div>

      <div class="elfide-source">
        <span class="elfide-header">source</span>
        <input
          ng-repeat="line in lines"
          type="text"
          ng-class="{ 'elfide-highlighted': focusedLine === $index }"
          elfide-focus="focusedLine === $index" 
          ng-model="line.sourceCode" 
          ng-keydown="changed($event, line, $index)"
          ng-click="clicked($event, $index)"
          ng-blur="processLine(lines, line)">
      </div>

      <div class="elfide-error">
        <span class="elfide-header"></span>
        <span ng-repeat="line in lines">{{ line.error }}</span>
      </div>

    </div>
  </body>
</html>
